body, i, input, p, textarea{
  background: #FFF;
  border-radius: 4px;
  font-size: 18px;
}
input, p, textarea{
  background: #EEE;
  box-shadow: 0 0 10px #888;
  box-sizing: border-box;
  width: 100%;
  padding: 8px;
}
input:hover, p:hover, textarea:focus, textarea:hover{
  background: #FFF;
}
